<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>

  <section class="container">
    <%- include('partials/nav-bar.ejs') %>
    <article class="content">
      <h1>Contato</h1>
      <p>Entre em contato conosco através do email: copadomundoqatar.com.br</p>
    </article>
  </section>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/foot.ejs') %>
</body>
</html>