<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <section class="container">
    <%- include('partials/nav-bar.ejs') %>
    <article class="content">
      <h1>Contato</h1>
      <p class="contato">contato@copadomundo222.com</p>
    </article>
  </section>
  <%- include('partials/footer.ejs') %>
  <%- include('partials/foo.ejs') %>
</body>
</html>