<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <section class="container">
    <%- include('partials/nav-bar.ejs') %>
    <article class="content curiosidades-list">
      <h1>Curiosidades sobre o Qatar</h1>
      <ul>
        <li>É considerado o país mais rico do mundo</li>
        <li>Fica entre o mar e o deserto</li>
        <li>O país está entre os mais seguros do mundo</li>
        <li>A origem do nome Catar é bastante interessante</li>
        <li>Mais da metade da população do país é estrangeira</li>
        <li>A língua oficial é o árabe</li>
        <li>A principal religião do Catar é o Islã</li>
        <li>O Souq Waqif é o representante máximo da cultura</li>
        <li> As casas tradicionais do país são amarelas</li>
      </ul>
    </article>
  </section>
  <%- include('partials/footer.ejs') %>
  <%- include('partials/foo.ejs') %>
</body>
</html>