<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <%- include('partials/header.ejs') %>
  <section class="container">
    <%- include('partials/nav-bar.ejs') %>
    <article class="content">
      <h1>Bem vindos</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos saepe tempora ut nesciunt, quibusdam dicta atque odit nostrum. Facere quod molestiae sunt id perferendis deserunt ipsam atque explicabo commodi ex!
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis voluptatibus praesentium delectus temporibus fugit quos odit ipsum quod deserunt architecto corporis dolore, eum explicabo natus illum sequi sint, odio dicta?</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos saepe tempora ut nesciunt, quibusdam dicta atque odit nostrum. Facere quod molestiae sunt id perferendis deserunt ipsam atque explicabo commodi ex!
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis voluptatibus praesentium delectus temporibus fugit quos odit ipsum quod deserunt architecto corporis dolore, eum explicabo natus illum sequi sint, odio dicta?</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos saepe tempora ut nesciunt, quibusdam dicta atque odit nostrum. Facere quod molestiae sunt id perferendis deserunt ipsam atque explicabo commodi ex!
      </p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis voluptatibus praesentium delectus temporibus fugit quos odit ipsum quod deserunt architecto corporis dolore, eum explicabo natus illum sequi sint, odio dicta?</p>
    </article>
  </section>
  <%- include('partials/footer.ejs') %>
  <%- include('partials/foo.ejs') %>
</body>
</html>